.hamburger-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hamburger-button-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
}