:root {
    /* ====== Colors ======  */
    /* ====  White Colors ====  */
    --steel-white-extra-bright: #FCFDFF;
    --steel-white-bright: #F7F8FA;
    --steel-white-medium: #F2F3F5;
    --steel-white-dark: #EDEEF0;
    --steel-white-extra-dark: #E8E9EB;

    /* ==== Black Colors ==== */
    --steel-black-extra-light: #3C414D;
    --steel-black-light: #30343D;
    --steel-black-medium: #23272E;
    --steel-black-dark: #1B1C1F;
    --steel-black-extra-dark: #0D0E0F;

    /* ==== Logo Colors ==== */
    --blue-sky: #73CCFF;
    --blue-cornflower: #7386FF;

    /* ====== Typography ====== */
    /* ==== Font Families ==== */
    --font-family-primary: 'Inter', sans-serif;
    --font-family-logo: 'Montserrat', sans-serif;

    /* ==== Font sizes ==== */
    /* == Base Font Size == */
    --font-size-base: 1rem;

    /* == Logo Font Sizes == */
    --font-size-logo-mobile: 0.625rem;
    --font-size-logo-desktop: 1rem;

    /* == Navigation Font Sizes == */
    --font-size-navigation-mobile: 0.5rem;
    --font-size-navigation-desktop: 0.75rem;

    /* == Hero Font Sizes == */
    --font-size-hero-title-mobile: 2.625rem;
    --font-size-hero-title-desktop: 3.5rem;
    --font-size-hero-subtitle-mobile: 1rem;
    --font-size-hero-subtitle-desktop: 1.5rem;

    /* == Section Headers Font Sizes == */
    --font-size-section-mobile: 1rem;
    --font-size-section-desktop: 1.5rem;

    /* == Artwork Font Sizes == */
    --font-size-art-title-mobile: 0.625rem;
    --font-size-art-title-desktop: 1rem;
    --font-size-art-subtitle-mobile: 0.5rem;
    --font-size-art-subtitle-desktop: 0.75rem;

    /* == Footer Font Sizes == */
    --font-size-footer-mobile: 0.375rem;
    --font-size-footer-desktop: 0.75rem;

    /* Add more font size variables for all pages, sections or other parts of the website (visitor and admin envorinments) */

    /* ==== Font Weight ====*/
    --font-weight-logo: 700;
    --font-weight-primary: 400;

    /* ==== Line Height ==== */
    --line-height-extra-small: 0.5;
    --line-height-small: 0.75;
    --line-height-medium: 1.5;
    --line-height-large: 3;
    --line-height-extra-large: 4.5;

    /* ====== Spacing & Layout ====== */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 3.75rem;
    /* Use this for left and right padding, remove this comment afterwards */

    /* Add more spacing and layout code here*/

    /* ====== Borders ====== */
    --border-white-extra-dark: 1px solid var(--steel-white-extra-dark);

    /* ====== Filters ====== */
    --filter-brightness: brightness(2.5);

    /* ====== Transitions ====== */
    --transition-background: background-color 0.2s ease-in-out;
    --transition-filter: filter 0.2s;
}

html,
body {
    /* ====== Browser Layout ====== */
    margin: 0;
    padding: 0;

    /* ====== Default Styling ====== */
    background-color: var(--steel-white-bright);

    /* ==== Default Typography ==== */
    color: var(--steel-black-extra-dark);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-medium);
}

a {
    text-decoration: none;
}